/* src/components/lab-settings/catalog/ProductFormModal.module.css */

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0.5rem 0;
}

.row {
  display: flex;
  gap: 1rem;
}

.priceGroup {
  display: flex;
  gap: 1rem;
  background-color: var(--bg-body);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px dashed var(--border-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actions {
  display: flex;
  gap: 0.5rem;
}